<footer class="site-footer">
    <div class="container">
        <img src="/images/logo.png" alt="Site Name">
        
        <address>
            <p><br>
                <a href="tel:+38765985588">(+387) 65/985-588</a> <br> 
                <a href="mailto:vizantisjkoplavoband@gmail.com">vizantisjkoplavoband@gmail.com</a>
            </p> 
        </address> 
        
        <!-- <form action="#" class="newsletter-form">
            <input type="email" placeholder="Enter your email to join newsletter...">
            <input type="submit" class="button cut-corner" value="Subscribe">
        </form> -->
         <!-- .newsletter-form -->
        
        <div class="social-links">
            <a href="https://sr-rs.facebook.com/vizantijsko.plavobend/"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/vizantijskoplavobend/"><i class="fa fa-instagram"></i></a>
            <a href="tel:+38765985588"><i class="fa fa-phone"></i></a>
            <a href="mailto:vizantisjkoplavoband@gmail.com"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.youtube.com/@goranfilipovic5100"><i class="fa fa-youtube"></i></a>
        </div> <!-- .social-links -->
        
        <p class="copy">Copyright 2023 <a href="https://www.linkedin.com/in/nikola-savi%C4%87-10b8b9179/">Nikola Savic</a>. All right reserved.</p>
    </div>
</footer> <!-- .site-footer -->