<header class="site-header">
    <div class="container">
        <a href="/admin_events" id="branding">
            <img src="/images/logo.png" alt="Site Title">
        </a> <!-- #branding -->
        
        <nav class="main-navigation">
            <p>asdasdasd</p>
            <button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item"><a href="/admin_events">Dogadjaji</a></li>
                <li class="menu-item"><a href="/logout">Odjavi Se</a></li>
            </ul> <!-- .menu -->
        </nav> <!-- .main-navigation -->
        <div class="mobile-menu"></div>
    </div>
</header> <!-- .site-header -->