<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="/images/logo.png" alt="Site Title">
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Pocetna</a></li>
							<li class="menu-item"><a href="/about">O nama</a></li>
							<li class="menu-item"><a href="/gallery">Galerija</a></li>
							<li class="menu-item"><a href="/page/events">Dogadjaji</a></li>
							<li class="menu-item"><a href="/contact">Kontakt</a></li>
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
				</div>
			</header> <!-- .site-header -->
			
			<main class="main-content">
				
                <h1 style="text-align: center;">Oops, looks like page does not exist!</h1>
				
			</main> <!-- .main-content -->

			<%- include('./partials/footer.ejs') %>

		</div> <!-- #site-content -->

		<script src="/js/jquery-1.11.1.min.js"></script>	
		<script src="/js/plugins.js"></script>
		<script src="/js/app.js"></script>
		
	</body>

</html>