<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		
		<div id="site-content">
			<%- include('./partials/header.ejs') %>
			
			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<div class="content">
									<h2 class="entry-title">Our History</h2>
									<!-- <figure class="featured-image">
										<img src="dummy/post-image.jpg" alt="post image">
									</figure> -->
									<p class="leading">Ovo neka bude prvi dio teksta kao bitniji dio.</p>
									<p>Ovoe prvi manje bitan dio teksta koji moze biit dugacak</p>

									<p>Ovoe drugi manje bitan dio teksta ako treba, koji isto tako moze ibit dugacak</p>
								</div>
							</div>
							<!-- <div class="col-md-4 col-md-push-1">
								<aside class="sidebar">
									<div class="widget">
										<h3 class="widget-title">Discography</h3>
										<ul class="discography-list">
											<li>
												<figure class="cover"><img src="dummy/thumbnail-1.jpg" alt="thumbnail 1"></figure>
												<div class="detail">
													<h3><a href="#">Deserunt mollitia animi</a></h3>
													<span class="year">2004</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="dummy/thumbnail-2.jpg" alt="thumbnail 2"></figure>
												<div class="detail">
													<h3><a href="#">Deserunt mollitia animi</a></h3>
													<span class="year">2004</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="dummy/thumbnail-3.jpg" alt="thumbnail 3"></figure>
												<div class="detail">
													<h3><a href="#">Deserunt mollitia animi</a></h3>
													<span class="year">2004</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="dummy/thumbnail-4.jpg" alt="thumbnail 4"></figure>
												<div class="detail">
													<h3><a href="#">Deserunt mollitia animi</a></h3>
													<span class="year">2004</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="dummy/thumbnail-5.jpg" alt="thumbnail 5"></figure>
												<div class="detail">
													<h3><a href="#">Deserunt mollitia animi</a></h3>
													<span class="year">2004</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
										</ul>
									</div>
								</aside>
							</div> -->
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->

			<%- include('./partials/footer.ejs') %>

		</div> <!-- #site-content -->

		<script src="/js/jquery-1.11.1.min.js"></script>		
		<script src="/js/plugins.js"></script>
		<script src="/js/app.js"></script>
		
	</body>

</html>