<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		
		<div id="site-content">
			<%- include('./partials/header.ejs') %>
			
			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<h2 class="page-title">Contact Us</h2>
						<div class="row">
							<div class="col-md-8">
								<form action="#" class="contact-form">
									<input type="text" placeholder="Your name"..>
									<input type="text" placeholder="Email Address..">
									<input type="text" placeholder="Website...">
									<textarea name="#" placeholder="Message..."></textarea>
									<input type="submit" value="Send message" onclick="myFunction()">
								</form>
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->

			<%- include('./partials/footer.ejs') %>

		</div> <!-- #site-content -->

		<script src="js/jquery-1.11.1.min.js"></script>	
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>