<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		
		<div id="site-content">
			<%- include('./partials/header.ejs') %>
			
			<main class="main-content">
				<div class="fullwidth-block gallery">
					<div class="container">
						<div class="content fullwidth">
							<h2 class="entry-title">Gallery</h2>
							<div class="filter-links filterable-nav">
								<select class="mobile-filter">
									<option value=".2023">Concert</option>
									<option value=".band">Band</option>
									<option value=".stuff">Stuff</option>
								</select>
								<a href="#" class="current" data-filter=".2023">Concert</a>
								<a href="#" data-filter=".band">Band</a>
								<a href="#" data-filter=".stuff">Stuff</a>
							</div>
							<div class="filterable-items hiddun">
								<div class="filterable-item 2023">
									<a href="/images/band/band1.jpg"><figure><img src="/images/band/band1.jpg" alt="gallery 1"></figure></a>
								</div>
								<div class="filterable-item 2023">
									<a href="/images/band/band2.jpg"><figure><img src="/images/band/band2.jpg" alt="gallery 2"></figure></a>
								</div>
								<div class="filterable-item 2023">
									<a href="/images/band/band3.jpg"><figure><img src="/images/band/band3.jpg" alt="gallery 3"></figure></a>
								</div>
								<div class="filterable-item 2023">
									<a href="/images/band/band4.jpg"><figure><img src="/images/band/band4.jpg" alt="gallery 3"></figure></a>
								</div>
								<!-- <div class="filterable-item stuff">
									<a href="dummy/large-gallery/gallery-4.jpg"><figure><img src="dummy/gallery-4.jpg" alt="gallery 4"></figure></a>
								</div> -->
								<div class="filterable-item 2023">
									<a href="/images/band/band5.jpg"><figure><img src="/images/band/band5.jpg" alt="gallery 5"></figure></a>
								</div>
								<!-- <div class="filterable-item stuff">
									<a href="dummy/large-gallery/gallery-6.jpg"><figure><img src="dummy/gallery-6.jpg" alt="gallery 6"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="dummy/large-gallery/gallery-7.jpg"><figure><img src="dummy/gallery-7.jpg" alt="gallery 7"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="dummy/large-gallery/gallery-8.jpg"><figure><img src="dummy/gallery-8.jpg" alt="gallery 8"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="dummy/large-gallery/gallery-9.jpg"><figure><img src="dummy/gallery-9.jpg" alt="gallery 9"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="dummy/large-gallery/gallery-10.jpg"><figure><img src="dummy/gallery-10.jpg" alt="gallery 10"></figure></a>
								</div>
								<div class="filterable-item band">
									<a href="dummy/large-gallery/gallery-11.jpg"><figure><img src="dummy/gallery-11.jpg" alt="gallery 11"></figure></a>
								</div>
								<div class="filterable-item stuff">
									<a href="dummy/large-gallery/gallery-12.jpg"><figure><img src="dummy/gallery-12.jpg" alt="gallery 12"></figure></a>
								</div> -->
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->

			<%- include('./partials/footer.ejs') %>

		</div> <!-- #site-content -->

		<script src="/js/jquery-1.11.1.min.js"></script>		
		<script src="/js/plugins.js"></script>
		<script src="/js/app.js"></script>
		
	</body>

</html>